* 
h1 {
    padding-bottom: 40px;
    color: #000d85;
}



button[type="submit"] {
    width: 20%;
    background: #8E44AD;
    padding: 10px 40px;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: #21618C;
}

